<!DOCTYPE html>
<html lang="en" theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushiuuu</title>
    <style>
        *,
        *:before,
        *:after {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html{
            height: 100%;
        }

        body {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
            background: linear-gradient(45deg, #d1b6f5, rgb(120, 135, 209));
        }

        input,
        button {
            border: none;
            outline: none;
            background: none;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        }

        .tip {
            font-size: 20px;
            margin: 40px auto 50px;
            text-align: center;
        }

        .cont {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            width: 710px;
            height: 340px;
            margin: 50px auto 100px;
            /* background: #B8F5D2; */
            background: linear-gradient(45deg, #ffffff, #eb98e5);
            box-shadow:rgb(120, 135, 209) 0px 0px 10px;
        }

        .form {
            position: relative;
            width: 640px;
            height: 100%;
            padding: 60px 30px;
            margin: auto;
        }

        button {
            display: block;
            margin: 0 auto;
            width: 260px;
            height: 36px;
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
        }

        .img__text {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            padding: 0 20px;
            text-align: center;
            color: #fff;
        }

        .img__text h2 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        .img__text p {
            font-size: 14px;
            line-height: 1.5;
        }

        .img__btn {
            overflow: hidden;
            z-index: 2;
            position: relative;
            width: 100px;
            height: 36px;
            margin: 0 auto;
            background: transparent;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            cursor: pointer;
            top: 35px;
        }

        .img__btn:after {
            content: '';
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 30px;
        }

        .img__btn span {
            position: absolute;
            left: 0;
            top: 0;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        h2 {
            width: 100%;
            font-size: 26px;
            text-align: center;
        }

        label {
            display: block;
            width: 260px;
            margin: 25px auto 0;
            text-align: center;
        }

        label span {
            font-size: 12px;
            color: #000000;
            text-transform: uppercase;
            font-weight: 600;
        }

        input {
            display: block;
            width: 100%;
            margin-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.4);
            text-align: center;
        }

        .changeRole {
            margin-top: 22px;
            text-align: center;
            font-size: 14px;
            color: #6c6b6b;
            font-weight: 500;
            cursor: pointer;
            position: absolute;
            right: 222px;
            text-decoration: none;
        }

        .submit {
            margin-top: 40px;
            margin-bottom: 20px;
            background: #5297b4;
            text-transform: uppercase;
        }

        .fb-btn {
            border: 2px solid #d3dae9;
            color: #8fa1c7;
        }

        .fb-btn span {
            font-weight: bold;
            color: #455a81;
        }

        #signupButton {
            margin-top: 30px;
        }

        #loginButton {
            margin-top: 60px;
            margin-right: 165px;
        }
    </style>

    <script defer>
        const regexEmail = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        async function signup(event) {
            event.preventDefault();
            const signupButton = document.getElementById('signupButton');
            const checkBox = document.querySelectorAll('.form input');

            const email = document.getElementById('signupEmail').value.trim();
            const password = document.getElementById('signupPassword').value;
            const confirmPassword = document.getElementById('ConfirmSignupPassword').value;
            const role = document.querySelector('input[name="option1"]:checked').value;
            const name = document.getElementById('signupName').value;

            if (!regexEmail.test(email)) {
                alert("Your email is invalid");
                return;
            }

            if (password.length < 8 || password !== confirmPassword) {
                alert("Passwords invalid.");
                return;
            }

            if (!role) {
                alert("Please select a role.");
                return;
            }

            const user = {
                email: email,
                password: password,
                name: name,
                role: role
            };

            try {
                signupButton.disabled = true;
                signupButton.innerText = "Submitting...";
                checkBox.forEach(input => input.disabled = true);

                const response = await fetch('/signup', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(user),
                });

                if (response.ok) {
                {   
                    alert('Signup successfully!');
                    const result = await response.json();
                    window.location.href = result.redirectURL;
                }
                } else {
                    const error = await response.json();
                    console.log(error)
                    alert(`Failed to signup, Reason: ${error.error || 'Unknown error'}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while submitting the form.');
            } finally {
                signupButton.disabled = false;
                signupButton.innerText = "Submit";
                checkBox.forEach(input => input.disabled = false);
            }
        }

        async function login(event) {
            event.preventDefault();
            const loginButton = document.getElementById('loginButton');
            const email = document.getElementById('loginEmail').value.trim();
            const password = document.getElementById('loginPassword').value;

            if (!regexEmail.test(email)) {
                alert("Invalid email format.");
                return;
            }
            if (password === "") {
                alert("Password cannot be empty.");
                return;
            }

            const user = { email: email, password: password };

            try {
                loginButton.disabled = true;
                loginButton.innerText = "Submitting...";

                const response = await fetch('/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(user),
                });

                if (response.ok) {
                    const { user, role } = await response.json();
                    console.log(role);
                    console.log(user.displayName);
                    alert('Login successfully!');
                    sessionStorage.setItem('user', JSON.stringify({ uid: user.uid, role: role}));
                    window.location.href = `/${user.uid}`;
                } else {
                    const error = await response.json();
                    alert(`Failed to login, error: ${error.error || 'Unknown error'}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while submitting the form.');
            } finally {
                loginButton.disabled = false;
                loginButton.innerText = "Submit";
            }
        }
    </script>
</head>

<body>
    <div class="cont">
        <div class="form sign-in">
            <h2>Welcome</h2>
            <label>
                <span>Login Key</span>
                <input type="email" id="loginEmail" />
            </label>
            <a href="/" class="changeRole">You are a customer? Click here</a>
            <button type="button" class="submit" id="loginButton" onclick="login(event)">Sign In</button>

        </div>
        
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function () {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
    <script>
        async function login(event) {
            event.preventDefault();
            const loginButton = document.getElementById('loginButton');
            const loginKey = document.getElementById('loginEmail').value.trim();
    
            if (loginKey === "") {
                alert("Login Key cannot be empty.");
                return;
            }
    
            const user = { loginKey: loginKey };
    
            try {
                loginButton.disabled = true;
                loginButton.innerText = "Submitting...";
    
                const response = await fetch('/staffLogin', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(user),
                });
    
                if (response.ok) {
                    const result = await response.json();
                    sessionStorage.setItem('user', JSON.stringify({ role: 'staff'}));
                    alert(result.message);
                } else {
                    const error = await response.json();
                    console.log(error);
                    alert(`Failed to login, Reason: ${error.error || 'Unknown error'}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while submitting the form.');
            } finally {
                loginButton.disabled = false;
                loginButton.innerText = "Submit";
            }
        }
    </script>
</body>

</html>